# データベースの設定

DATABASE_NAME = 'school_db'
DATABASE_USER = 'postgres'
DATABASE_PASSWORD = 'root'
DATABASE_HOST = 'localhost'
DATABASE_PORT = '5433'

# $ psql postgresql://postgres:root@localhost:5433/school_db


# メールの設定 パスワード リセット用

EMAIL_IMAP_USERNAME=applicationcheckemail@gmail.com
EMAIL_IMAP_PASSWORD=egjlvuzxwysurwuq
EMAIL_IMAP_PORT=993
EMAIL_IMAP_SSL=true
EMAIL_IMAP_HOST='smtp.gmail.com'